# Dependencies
node_modules/

# Cypress assets
cypress/screenshots/
cypress/videos/
cypress/reports/

# Logs and caches
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.tmp/

# Editor/OS
.DS_Store
.idea/
.vscode/
Thumbs.db
